bin/logs
node_modules/*
deploy/*
Tools/temp/*
.vs/
obj/
.DS_Store
csv_zip/csv_dev_zip/*
!csv_zip/csv_dev_zip/const_data_version.json
csv_zip/csv_review_zip/*
!csv_zip/csv_review_zip/const_data_version.json
sql/proto/ProtoPacket/*
env/*

.idea
.junie
.env.auth
.env.game
.env.info
serviceAccountKey.json
google-services.json
logs_admin
log/*
data/dev_mails.db
data/dev_mails.db-shm
data/dev_mails.db-wal